<div class="ustomers">
    <nav>
        
        <!-- <a href="">Login as admin</a> -->
    </nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/" >Main page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" >To admin panel</a>
        </li>
        
    </ul><br><br>
    <h3>List of customers</h3>
</div><br>


<div class="list">
    <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>
